
<div *ngIf="targetProduct" calss="container">
    <div class="imgContainer col-md-4">
      <img src="{{targetProduct?.imageUrl}}" />
    </div>
    <div class="infoContainer col-md-8">
      <h2>{{targetProduct?.productName}}</h2>
      <h3><b>{{targetProduct?.price}} BGN</b></h3>
      <p>Color:  <span>{{targetProduct?.color}}</span></p> 

        <form (ngSubmit)="addToCart()" #chooseSizeForm="ngForm">         
          <select required [(ngModel)]="model.size" name="size" #size="ngModel">
          <option *ngFor="let size of targetProduct.size" value="{{size}}">EU {{size}}</option>  
          </select> 
          <input type="text" required [(ngModel)]="model.kaka" name="kaka" #kaka="ngModel"/>
          <div [hidden]="size.valid || size.pristine" class="alert alert-danger">
              size required!
            </div> 
          <br> 
          <p>Other information:  <span>{{targetProduct?.moreInfo}}</span></p>
          <p>Categories:  <span>{{targetProduct?.categories}}</span></p>
          <button type="submit" class="btn btn-primary">Add to CART</button> 
        </form>
        
        
    </div>
</div>

<h1 *ngIf="!targetProduct">Loading...</h1>