
<div *ngIf="targetProduct" calss="container">
    <div class="imgContainer col-md-4">
      <img src="{{targetProduct?.imageUrl}}" />
    </div>
    <div class="infoContainer col-md-8">
      <h2>{{targetProduct?.productName}}</h2>
      <h3>{{targetProduct?.price}} BGN</h3>
      <p>Color:  <span>{{targetProduct?.color}}</span></p>
      <p>Size:  <span>{{targetProduct?.size}}</span></p>
      <p>Other information:  <span>{{targetProduct?.moreInfo}}</span></p>
      <p>Categories:  <span>{{targetProduct?.categories}}</span></p>
      <button (click)="addToCart()" class="btn btn-primary">Add to CART</button>
    </div>
</div>

<h1 *ngIf="!targetProduct">Loading...</h1>