
<div *ngIf="targetProduct"  [ngClass]="{containerFilter:delConfirmInvisible}">
  <div [ngClass]="{confirmDelBackground:!delConfirmInvisible, delConfirmInvisible:delConfirmInvisible}">
        <h1 >Are you sure to delete this product?</h1>
        <button (click)="ConfirmDeleteProduct()" class="btn btn-danger">YES</button>
        <button (click)="notConfirmDelete()" class="btn btn-warning">NO</button>
  </div>
    <div class="imgContainer col-md-4">
      <img src="{{targetProduct?.imageUrl}}" />
    </div>
    <div class="infoContainer col-md-8">
      <h2>{{targetProduct?.productName}}</h2>
      <h3><b>{{targetProduct?.price}} BGN</b></h3>
      <p>Color:  <span>{{targetProduct?.color}}</span></p> 
        <form (ngSubmit)="addToCart()" #chooseSizeForm="ngForm">         
          <select required [(ngModel)]="model.size" name="size" #size="ngModel">
            <option disabled>Select size of product</option>
          <option *ngFor="let size of targetProduct.size" value="{{size}}">EU {{size}}</option>  
          </select> 
          <div class="alert alert-danger" *ngIf="!currectOrder">Select size of product</div>
          <br> 
          <p>Other information:  <span>{{targetProduct?.moreInfo}}</span></p>
          <p>Categories:  <span>{{targetProduct?.categories}}</span></p>
          <button type="submit" class="btn btn-primary">Add to CART</button> 
        </form>
        <button (click)="deleteProduct()" *ngIf="authServise.isAdminRole()" class="btn btn-danger">Delete this product</button>
        
    </div>
</div>

<h1 *ngIf="!targetProduct">Loading...</h1>