<div class="wrapper">
  <img routerLink="/home" [src]="logoImagePath" class="logo">
  <a *ngIf="authService.isLoggedIn()" routerLink="/yourCart" class="cart">
    <img [src]="cartImagePath" style="width: 60px">
  </a>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #f7f7f7;">
    <div *ngIf="!authService.isLoggedIn()">
      <a [routerLinkActive]="['active']" routerLink="/home" class="navbar-brand">Home</a>
      <a [routerLinkActive]="['active']" routerLink="/login" class="navbar-brand">Login</a>
      <a [routerLinkActive]="['active']" routerLink="/register" class="navbar-brand">Register</a>
    </div>
    <div *ngIf="authService.isLoggedIn()">
      <a [routerLinkActive]="['active']" routerLink="/home" class="navbar-brand">Home</a>
      <a [routerLinkActive]="['active']" *ngIf="authService.isAdminRole()" routerLink="/createProduct" class="navbar-brand">Add new product</a>
      <a [routerLinkActive]="['active']" *ngIf="authService.isAdminRole()" routerLink="/orders" class="navbar-brand">Orders</a>
      <a [routerLinkActive]="['active']" routerLink="/myOrders" class="navbar-brand">My Orders</a>
      <a [routerLinkActive]="['active']" routerLink="/logout" class="navbar-brand">Logout</a>

    </div>


  </nav>
</div>