

<div *ngIf="myOrders">
    <div *ngIf="myOrders.length===0">
        <h1>You still no have order </h1>
      </div>
    <div *ngFor="let order of myOrders" class="order container">
      <div>
        Total Order Price:
        <b>{{order.finalPrice}}</b>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Image</th>
            <th>Product name</th>
            <th>Color</th>
            <th>Size</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of order.products">
            <td>
              <img src="{{product?.product.imageUrl}}">
            </td>
            <td>
              {{product.product.productName}}
            </td>
            <td>
              {{product.product.color}}
            </td>
            <td>
              {{product.size}}
            </td>
            <td>
              {{product.product.price}}
            </td>
        </tbody>
      </table>
    </div>
  </div>