<div class="container">
  <h1>Create new product</h1>

  <form (ngSubmit)="save()" [formGroup]="productForm">

    <div class="form-group" [ngClass]="{'has-error': productNameMessage}">
      <label for="productName">Product name</label>
      <input type="text" class="form-control" id="productName" required formControlName="productName" placeholder="max length 22 symbols"/>
      <div *ngIf="productNameMessage" class="alert alert-danger">{{productNameMessage}}</div>
    </div>

    <div class="form-group" [ngClass]="{'has-error': imageUrlMessage}">
      <label for="imageUrl">Image URL</label>
      <input type="text" class="form-control" id="imageUrl" required formControlName="imageUrl" placeholder="URL of your image"/>
      <div *ngIf="imageUrlMessage" class="alert alert-danger">{{imageUrlMessage}}</div>
    </div>

    <div class="form-group" [ngClass]="{'has-error': priceMessage}">
      <label for="price">Price</label>
      <input type="number" class="form-control" id="price" required formControlName="price"/>
      <div *ngIf="priceMessage" class="alert alert-danger">{{priceMessage}}</div>
    </div>

    <div class="form-group">
      <label for="color">Color</label>
      <input type="text" class="form-control" id="color" required formControlName="color" />
    </div>

    <div class="form-group">
      <label for="size">Size</label>
      <input type="text" class="form-control" id="size" formControlName="size" placeholder="separated by space like(X XL XXL)"/>
    </div>

    <div class="form-group">
      <label for="categories">Category</label>
      <select class="form-control" id="categories" required formControlName="categories">
        <option *ngFor="let category of categories" [value]="category">{{category}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="moreInfo">More Information</label>
      <textarea style="height: 50px" type="text" class="form-control" id="moreInfo" formControlName="moreInfo"></textarea>
    </div>

    <button type="submit" [disabled]="!productForm.valid" class="btn btn-success">Submit</button>
  </form>
</div>